# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/


# knitr and R markdown default cache directories
*_cache/
/cache/
# Not clear if this  is needed -- older format for nested files
**/*_cache

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Temporary R Notebook HTML Files (Should not be generated new)
*.nb.html

# R Environment Variables
.Renviron

# Folders used to hide content from GIT
**/Methods/
**/Drafts/
